name: "Validate"

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Set up node.
        uses: actions/setup-node@v6.1.0
        with:
          node-version-file: .nvmrc
      - name: Lint
        run: |
          npm ci
          npm run lint
        env:
          CI: true
